# Ignore artifacts:
build
coverage
dist
node_modules
package-lock.json
mdb-module
grunt
v6-4-2
.browserslistrc
.editorconfig
.eslintignore
.gitignore
.htmlhintrc
.jsbeautifyrc
.nvmrc
.prettierignore
.stylelintignore
.gitattributes
.hintrc
.png
*.png
.webp
*.webp
.ico
*.ico
.jpg
*.jpg
.jpeg
*.jpeg
.js
*.js
.json
*.json
.handlebars
*.handlebars
.handlebars.json
*.handlebars.json
.css
*.css
.min.css
*.min.css
.min.js
*.min.js
.min.css.map
*.min.css.map
**/.js
**/.json
**/.handlebars
**/.handlebars.json
**/.css
**/.min.css
**/.min.css.map

# Default Ignores
**/.git
**/.svn
**/.hg
**/node_modules
**/.git
**/.svn
**/.hg
**/.min.css
**/.css
**/.min.js
**/.js
**/.handlebars.json
**/.json
**/.js

# Ignore all of the following files:
**/*.css
**/*.js
**/*.json
**/*.eslintrc
**/*.prettierrc
**/*.yml
.stylelintrc
**/*.js
**/*.json
**/*.handlebars
**/*.handlebars.json
**/*.css
**/*.min.css
**/*.min.css.map
**/*.js
**/*.min.js
