# Ignore artifacts:
build
coverage
dist
node_modules
package-lock.json
mdb-module
grunt
v6-4-2
.browserslistrc
.editorconfig
.eslintignore
.gitignore
.htmlhintrc
.jsbeautifyrc
.nvmrc
.prettierignore
.stylelintignore
.gitattributes
.hintrc
.png
*.png
.webp
*.webp
.ico
*.ico
.jpg
*.jpg
.jpeg
*.jpeg
.js
*.js
.json
*.json
.handlebars
*.handlebars
.handlebars.json
*.handlebars.json
.min.js
*.min.js
**/.js
**/.json
**/.handlebars
**/.handlebars.json

# Default Ignores
**/.git
**/.svn
**/.hg
**/node_modules
**/.git
**/.svn
**/.hg
**/.min.js
**/.js
**/.handlebars.json
**/.json
**/.js

# Ignore all of the following files:
**/*.js
**/*.json
**/*.eslintrc
**/*.prettierrc
**/*.yml
.stylelintrc
**/*.js
**/*.json
**/*.handlebars
**/*.handlebars.json
**/*.js
**/*.min.js
